<ion-view view-title="Add Post" name="add_post" >

  <ion-content>
    <img ng-show="data.image !== undefined" ng-src="{{data.image}}" class="cameraPostImg">
    <!--<img src="http://res.cloudinary.com/vinayak118/image/upload/v1462202990/macp8yxcudtiybacdjan.jpg" class="cameraPostImg">-->

    <div class="row">
       <form class="col s12">
         <div class="row">
           <div class="input-field col s12 m6">

        <select ng-model="data.selectCategory" id="selectCategory">
          <option value="" disabled selected>Choose your option</option>
        </select>
        <label id="categoryLabel">Category</label>
      </div>
      </div>

      <div class="row">
        <div class="input-field col s12 m6">

     <select ng-model="data.subCategory" id="subCategory">
       <option value="" disabled selected>Choose your option</option>
     </select>
     <label id="subcategoryLabel">Sub Category</label>
   </div>
   </div>


    <button class="waves-effect waves-light btn" ng-click="takePhoto()">
    Take Photo
    </button>
         <span class="spaceBetweenButton"></span>
    <button class="waves-effect waves-light btn" ng-click="choosePhoto()">
    Choose Photo
    </button>
   <div class="row">
      <div class="input-field col s12">
            <input ng-model="data.title" id="title" type="text" class="validate">
            <label for="title">Title</label>
          </div>
      </div>
      <div class="row">
         <div class="input-field col s12">
               <input ng-model="data.brand" id="brand" type="text" class="validate">
               <label for="brand">Brand</label>
             </div>
         </div>
         <div class="row">
            <div class="input-field col s12">
                  <input ng-model="data.model" id="model" type="text" class="validate">
                  <label for="model">Model</label>
                </div>
            </div>
     <div><label>Type</label></div>
  <div class="row">
     <div class="input-field col s6 m6" style="margin-top: -7px;">
      <input ng-model="data.type" name="type" value="S" type="radio" id="type1" ng-change="typeChange('S')"/>
      <label for="type1">Want to Sell</label>
    </div>
      <div class="input-field col s6 m6" style="margin-top: -7px;">
      <input ng-model="data.type" name="type"  value="B" type="radio" id="type2" ng-change="typeChange('B')"/>
      <label for="type2">Want to Buy</label>
    </div>
  </div>
    <div><label>Condition</label></div>
  <div class="row">

 <div class="input-field col s6 m6" style="margin-top: -7px;">
      <input ng-model="data.condition" name="condition" value="U" type="radio" id="condition1" ng-change="conditionChange('U')"/>
      <label for="condition1">Used</label>
    </div>
      <div class="input-field col s6 m6" style="margin-top: -7px;">
      <input ng-model="data.condition" name="condition" value="N" type="radio" id="condition2" ng-change="conditionChange('N')" />
      <label for="condition2">New</label>
    </div>
  </div>

  <div class="row">
     <div class="input-field col s12 m6">
       <input ng-model="data.price"  id="price" type="number" min=99 class="validate">
       <label for="price">Price</label>
  </div>
  </div>
    <div class="row">
       <div class="input-field col s12 m6">
         <input id="dateOfPurchase" type="date" class="datepicker">
         <label for="dateOfPurchase">Date of purchase</label>
    </div>
  </div>
  <div class="row">
     <div class="input-field col s12">
       <textarea ng-model="data.description" id="description" class="materialize-textarea" maxlength="120"></textarea>
       <label for="description">Description</label>
     </div>
   </div>
<div style><label>Contact Information</label>
<div class="row">
   <div class="input-field col s12">
      <i class="material-icons prefix">account_circle</i>
         <input ng-model="data.contactName" id="name" type="text" class="validate">
         <label for="name">Name</label>
       </div>
   </div>
   <div class="row">
         <div class="input-field col s6" style="margin-left: 39px;">
           <input ng-model="data.contactEmail" id="contactEmail" type="email" class="validate" >
           <label for="contactEmail">Email</label>
         </div>
       </div>
   <div class="row">
               <div class="input-field col s12">
                 <i class="material-icons prefix">phone</i>
           <input ng-model="data.contactNumber" id="contactNumber" type="number" class="validate">
           <label for="contactNumber">Telephone</label>
               </div>
   </div>
   </div>
   <a id="submitPostBtn" class="waves-effect waves-light btn" ng-click="submitPost()">Submit Post</a>
</form>
      </div>

  </ion-content>
</ion-view>
