<ion-view view-title="Login" name="login-view" >

  <ion-content class="padding">

    <form name="myForm" ng-controller="ForgotPasswordCtrl" >

            <label class="item-input-wrapper">
            <input type="email" name="input" placeholder="Email" name="email" ng-model="data.email" ng-change="change()" required>
          </label>

          <Button class="waves-effect waves-light btn" ng-click="forgotPassword()"  ng-disabled="myForm.$invalid">Send</Button>



      <div role="alert">
      <span style="color:green" class="error" ng-show="myForm.input.$error.required">
        Email id is Required!</span>
      <span  style="color:red"  class="error" ng-show="myForm.input.$error.email">
        Email id is not valid!</span>
        <span id="serverEmailError"  style="color:red" class="error">{{myForm.email.$error.serverMessage}}<!--Email id is not present in System. Please contact to Administration.--></span>
      </div>
    </form>

  </ion-content>
</ion-view>
