<ion-view view-title="Home" name="home-view">
  <ion-content class="padding">
      <div>Welcome to home screen.</div>
      <div class="mainHome">

      <div class="row">
                <div class="col col-50 categoryLogoLeft">
                  <a href="#/search/1">
                    <div class=categoryImage>
                    </div>
                    <div class="catName">Cars & Bikes</div>
                  </a>
                </div>

                <div class="col col-50 categoryLogoLeft categoryLogoRight">
                  <a href="#/search/2">
                    <div class=categoryImage1>
                    </div>
                    <div class="catName">Mobiles & Tablets</div>
                  </a>
                </div>
        </div>
         <div class="row">
            <div class="col categoryLogoLeft">
              <a href="#/search/3">
                <div class=categoryImage3>
                </div>
                <div class="catName">Electronics & Appliances</div>
            </a>
            </div>

            <div class="col categoryLogoLeft categoryLogoRight">
              <a href="#/search/4">
                <div class=categoryImage4>
                </div>
                <div class="catName">Real Estate</div>
              </a>
            </div>

         </div>
        <div class="row">
          <div class="col categoryLogoLeft">
            <a href="#/search/5">
              <div class=categoryImage5>
              </div>
              <div class="catName">Homes & Lifestyle</div>
          </a>
          </div>
          <div class="col categoryLogoLeft categoryLogoRight">
            <a href="#/search/6">
              <div class=categoryImage6>
              </div>
              <div class="catName">Community & Events</div>
            </a>
          </div>
        </div>
      </div>
      <div>
        <a class="btn-floating btn-large waves-effect waves-light red add_button" href="#/add-post"><i class="material-icons">add</i></a>
      </div>
  </ion-content>
</ion-view>
