<ion-view view-title="Home" name="home-view">
  <ion-content class="padding">
      <div>Welcome to home screen.</div>
      <div class="mainHome">

        <div class="row1">
                <div class="category2">
                  <div class=categoryImage>
                  </div>
                  <div class="catName">Cars</div>

                </div>
          </div>
          <div class="row1">
                <div class="category2">
                  <div class=categoryImage1>
                  </div>
                  <div class="catName">Mobiles</div>
                </div>
        </div>
         <div class="row1">
              <div class="category2">
                <div class=categoryImage2>
                </div>
                <div class="catName">Bikes</div>
              </div>
         </div>
        <div class="row1">
             <div class="category2 category4">
             <div class=categoryImage3>
             </div>
             <div class="catName">Electronics</div>
           </div>
         </div>
        <div class="row3">
          <div class="category2 category4">
            <div class=categoryImage4>
            </div>
            <div class="catName">Real Estate</div>
          </div>
        </div>
        <div class="row1">
          <div class="category2 category4 category5">
            <div class=categoryImage5>
            </div>
            <div class="catName">Homes</div>
          </div>
        </div>
      </div>

        <button class="button button-block button-calm" ng-click="loginn()">Get</button>
  </ion-content>
</ion-view>
