<ion-view view-title="Search" name="login-view" >

  <ion-content>
<div class="list list-inset" >
  <label class="item item-input">
   <i class="icon ion-search placeholder-icon"></i>
   <input type="text" placeholder="Search">
 </label>
    <label class="item item-input item-select">
    <div class="input-label">
      Category
    </div>
    <select ng-model="categoryId">
      <option ng-repeat="category in categories" value="{{category.id}}">{{category.name}}</option>
    </select>
  </label>
  <label class="item item-input item-select">
  <div class="input-label">
    Sub Category
  </div>
  <select ng-model="subCategoryId">
    <option ng-repeat="category in subCategories" value="{{category.id}}">{{category.name}}</option>
  </select>
</label>

</div>
  </ion-content>
</ion-view>
