<ion-view view-title="Posts" name="login-view" >
  <ion-content>
    <form>
    <nav>
      <div class="nav-wrapper">
        <form>
          <div center class="input-field">
            <input id="search" type="search" required placeholder="Search...">
            <label for="search"></label>
          </div>
        </form>
      </div>
    </nav>

    <div class="row">
       <form class="col s12">

         <div class="row">
           <div class="input-field col s12 m6">

        <select id="categoryId" ng-model="categoryId">
          <option value="0"  selected>Choose your option</option>
        </select>
        <label>Category</label>
      </div>
      </div>

      <div class="row">
        <div class="input-field col s12 m6">

     <select id="subcategoryId">
       <option value="0"  selected>Choose your option</option>
     </select>
     <label>Sub Category</label>
   </div>
   </div>
   <ul id="postList" class="collection">
   </ul>
 </form>
 </div>
 </form>

  </ion-content>
</ion-view>
