
.categoryImage{
  background: rgba(0, 0, 0, 0) url("../img/home.png") no-repeat scroll -12px -3px;
  margin: 0 auto;
  height: 45px;
  width: 53px;

}

.categoryImage1{
  background: rgba(0, 0, 0, 0) url("../img/home.png") no-repeat scroll 0 0;
  height: 45px;
  width: 53px;
  background-position:-82px -3px;
  margin: 0 auto;
}


.categoryImage2{
  background:rgba(0, 0, 0, 0) url("../img/bikes.png") no-repeat scroll ;

    height: 45px;
    width: 53px;
    background-position:-4px -6px;
  margin: 0 auto;
}

.categoryImage3{
  background:rgba(0, 0, 0, 0) url("../img/home.png") no-repeat scroll ;
  margin: 0 auto;
  height: 45px;
  width: 53px;
  background-position:-153px -6px;
}

.categoryImage4{
  background:rgba(0, 0, 0, 0) url("../img/home.png") no-repeat scroll ;
  margin: 0 auto;
  height: 45px;
  width: 53px;
  background-position:-232px -6px;
}


.categoryImage5{
  background:rgba(0, 0, 0, 0) url("../img/home.png") no-repeat scroll ;
  margin: 0 auto;
  height: 45px;
  width: 53px;
  background-position:-384px -6px;
}

.categoryImage6{
  background:rgba(0, 0, 0, 0) url("../img/home.png") no-repeat scroll ;
  margin: 0 auto;
  height: 45px;
  width: 53px;
  background-position:-231px -69px;
}

.col:hover{
 background-color:#F4F4F4;
  border-color:red;
  color: orange;
  font-weight: 400;
}

.catName{
  text-align: center;
  font-size:13px;
  color:Orange;
}

.add_button{
  margin-left: 43%;
  margin-top: 8px;
}

.categoryLogoLeft{
  height: 81px;
   box-shadow: 5px 1px 6px lightgray;
}

categoryLogoLeft:hover {
    background-color: yellow;
}

.card.large .card-content {
    max-height: 51%;
    overflow: hidden;
}

.contactDetails{

}

.btn,
.btn:hover{
  background-color:#ef6c00;
  width:100%;
}
.cameraPostImg{
 /* margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 15px;
  border:4px solid lightblue*/
  display: block;
  border:4px solid lightblue;

  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
}
.loginLogo{
  background-image: url('/img/grab-it.png');
  background-size: 319px 158px;
  background-repeat: no-repeat;
  height: 156px;
}
/*.input-field label {
     color: #ef6c00;
   }

.input-field input[type=text]:focus + label,
.input-field input[type=password]:focus + label {
     color: #ef6c00;

   }

   input[type=password]:focus:not([readonly]){
     border-bottom: 1px solid #ef6c00;
     box-shadow: 0 1px 0 0 #ef6c00;
   }*/
