
.categoryImage{
  background: rgba(0, 0, 0, 0) url("../img/home.png") no-repeat scroll -12px -3px;
  margin: 0 auto;
  height: 45px;
  width: 53px;

}

.categoryImage1{
  background: rgba(0, 0, 0, 0) url("../img/home.png") no-repeat scroll 0 0;
  height: 45px;
  width: 53px;
  background-position:-82px -3px;
  margin: 0 auto;
}


.categoryImage2{
  background:rgba(0, 0, 0, 0) url("../img/bikes.png") no-repeat scroll ;

    height: 45px;
    width: 53px;
    background-position:-4px -6px;
  margin: 0 auto;
}

.categoryImage3{
  background:rgba(0, 0, 0, 0) url("../img/home.png") no-repeat scroll ;
  margin: 0 auto;
  height: 45px;
  width: 53px;
  background-position:-153px -6px;
}

.categoryImage4{
  background:rgba(0, 0, 0, 0) url("../img/home.png") no-repeat scroll ;
  margin: 0 auto;
  height: 45px;
  width: 53px;
  background-position:-232px -6px;
}


.categoryImage5{
  background:rgba(0, 0, 0, 0) url("../img/home.png") no-repeat scroll ;
  margin: 0 auto;
  height: 45px;
  width: 53px;
  background-position:-384px -6px;
}

.categoryImage6{
  background:rgba(0, 0, 0, 0) url("../img/home.png") no-repeat scroll ;
  margin: 0 auto;
  height: 45px;
  width: 53px;
  background-position:-231px -69px;
}

.col:hover{
  background-color:#F4F4F4;
  border-color:red;
  color: orange;
  font-weight: 400;
}

.catName{
  text-align: center;
  font-size:13px;
  color:Orange;
}

.add_button{
  margin-left: 43%;
  margin-top: 8px;
}

.categoryLogoLeft{
  border-left: 1px solid #D3D3D3;
  height: 81px;
  border-right: 0.1px solid #D3D3D3;

}

categoryLogoLeft:hover {
    background-color: yellow;
}


.categoryLogoRight{
  border-right: 1px solid #D3D3D3;

}
